extends ../layout

block content
    -let curStudent = student;
    -let route1 = '/classes/' + classId + '/students/' + curStudent._id + '?_method=PUT';
    h1 Edit #{curStudent.name}
    form(action=route1 method='POST')
        div(class="mb-3")
            label(for="inputFirstName" class="form-label") First Name
            input(type="text" class="form-control" id="inputFirstName" name="firstName" value=curStudent.firstName)
        div(class="mb-3")
            label(for="inputLastName" class="form-label") Last Name
            input(type="text" class="form-control" id="inputLastName" name="lastName" value=curStudent.lastName)
        div(class="mb-3")
            label(for="inputEmail" class="form-label") Email
            input(type="email" class="form-control" id="inputEmail" name="email" value=curStudent.email)
        div(class="mb-3")
            label(for="inputMoreInfo" class="form-label") More Info
            textarea(class="form-control" id="inputMoreInfo" rows="3" name="moreInfo") #{curStudent.moreInfo}
        button(type="submit" class="btn btn-primary") Submit
